.container {
  background: linear-gradient(to bottom, #677E3C, #506828);
  border: 0;
  box-shadow: 0 0 5px 0 #000;
  padding: 7px;
  font-size: 1.2em;
  color: #fff;

  &:hover {
    color: #000;
  }

  &[disabled] {
    background: linear-gradient(to bottom, #8fab5c, #88a656);
    color: #e2f2e0;

    &:hover {
      color: #e2f2e0;
    }
  }
}
