.switch {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2730;
  padding: 0 20px;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
    padding: 0;

    .balance {
      margin: 20px;
    }
  }

  .buttons {
    display: flex;
    align-items: stretch;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    a,
    .enabled {
      width: 100%;
      text-align: center;
    }
  }

  .tab {
    color: #77c2f7;
    padding: 10px 45px;

    &.enabled {
      background: linear-gradient(to bottom, #6997bb, #5486ae);
    }
  }

  a {
    text-decoration: none;
  }
}
